


    <div id="cohort_list">
      <h1 class="spirit_heading">Choose Your <span>Spirit Animal</span></h1>

      <%= link_to image_tag("nighthawks.jpg", class: "cohort_image"), cohort_path(26) %>
      <%= link_to image_tag("fireflies.jpg", class: "cohort_image"), cohort_path(28) %>
      <%= link_to image_tag("coyotes.jpg", class: "cohort_image"), cohort_path(30) %>
      <%= link_to image_tag("salamanders.jpg", class: "cohort_image"), cohort_path(32) %>
    </div>


